<div>
  <button class="e-btn" style="margin-top: 50px" (click)="btnClick()">Change Data</button>
  <ejs-spreadsheet>
    <e-sheets>
      <e-sheet name="Binding Date">
        <e-ranges>
          <e-range [dataSource]="cloudDate"></e-range>
        </e-ranges>
      </e-sheet>
    </e-sheets>
<!--    <e-sheets>-->
<!--                  &lt;!&ndash;Sheet Name&ndash;&gt;       &lt;!&ndash;Sheet is protected&ndash;&gt;-->
<!--      <e-sheet name="Student Management" [isProtected]="true">-->
<!--        <e-ranges>-->
<!--          <e-range [dataSource]="data"></e-range>-->
<!--        </e-ranges>-->
<!--        <e-rows>-->
<!--          <e-row [index]="3"> &lt;!&ndash;Display value in row&ndash;&gt;-->
<!--            <e-cells>-->
<!--              &lt;!&ndash;Display value in column&ndash;&gt;-->
<!--              <e-cell [index]="4" value="Total Amount:"></e-cell>-->
<!--              <e-cell formula="=SUM(F2:F3)" format="$#,##0.00" [style]="cellStyle"></e-cell>-->
<!--            </e-cells>-->
<!--          </e-row>-->
<!--        </e-rows>-->
<!--        <e-columns>-->
<!--          <e-column [width]="180"></e-column>-->
<!--          <e-column [width]=130></e-column>-->
<!--          <e-column [width]=130></e-column>-->
<!--          <e-column [width]=100></e-column>-->
<!--          <e-column [width]=100></e-column>-->
<!--          <e-column [width]=100></e-column>-->
<!--        </e-columns>-->
<!--      </e-sheet>-->

<!--&lt;!&ndash;      Create second sheets&ndash;&gt;-->
<!--      <e-sheet name="Bind Date">-->
<!--        <e-rows>-->
<!--          <e-row>-->
<!--            <e-cells>-->
<!--              <e-cell value="Category" [style]="boldCenter"></e-cell>-->
<!--              <e-cell value="Planned Cost" [style]="boldCenter"></e-cell>-->
<!--              <e-cell value="Actual Cost" [style]="boldCenter"></e-cell>-->
<!--              <e-cell value="Difference" [style]="boldCenter"></e-cell>-->
<!--            </e-cells>-->
<!--          </e-row>-->
<!--          <e-row>-->
<!--            <e-cells>-->
<!--              <e-cell value="Food"></e-cell>-->
<!--              <e-cell value="7000" [format]="currencyFormat"></e-cell>-->
<!--              <e-cell value="8120" [format]="currencyFormat"></e-cell>-->
<!--              <e-cell formula="=B2-C2" [format]="currencyFormat"></e-cell>-->
<!--            </e-cells>-->
<!--          </e-row>-->
<!--          <e-row>-->
<!--            <e-cells>-->
<!--              <e-cell value="Loan"></e-cell>-->
<!--              <e-cell value="1500" [format]="currencyFormat"></e-cell>-->
<!--              <e-cell value="1500" [format]="currencyFormat"></e-cell>-->
<!--              <e-cell formula="=B3-C3" [format]="currencyFormat"></e-cell>-->
<!--            </e-cells>-->
<!--          </e-row>-->
<!--          <e-row>-->
<!--            <e-cells>-->
<!--              <e-cell value="Medical"></e-cell>-->
<!--              <e-cell value="300" [format]="currencyFormat"></e-cell>-->
<!--              <e-cell value="0" [format]="currencyFormat"></e-cell>-->
<!--              <e-cell formula="=B4-C4" [format]="currencyFormat"></e-cell>-->
<!--            </e-cells>-->
<!--          </e-row>-->
<!--          <e-row>-->
<!--            <e-cells>-->
<!--              <e-cell value="Clothing"></e-cell>-->
<!--              <e-cell value="400" [format]="currencyFormat"></e-cell>-->
<!--              <e-cell value="150" [format]="currencyFormat"></e-cell>-->
<!--              <e-cell formula="=B5-C5" [format]="currencyFormat"></e-cell>-->
<!--            </e-cells>-->
<!--          </e-row>-->
<!--          <e-row>-->
<!--            <e-cells>-->
<!--              <e-cell value="Education"></e-cell>-->
<!--              <e-cell value="900" [format]="currencyFormat"></e-cell>-->
<!--              <e-cell value="750" [format]="currencyFormat"></e-cell>-->
<!--              <e-cell formula="=B6-C6" [format]="currencyFormat"></e-cell>-->
<!--            </e-cells>-->
<!--          </e-row>-->
<!--          <e-row>-->
<!--            <e-cells>-->
<!--              <e-cell value="Insurance"></e-cell>-->
<!--              <e-cell value="30" [format]="currencyFormat"></e-cell>-->
<!--              <e-cell value="30" [format]="currencyFormat"></e-cell>-->
<!--              <e-cell formula="=B7-C7" [format]="currencyFormat"></e-cell>-->
<!--            </e-cells>-->
<!--          </e-row>-->
<!--        </e-rows>-->
<!--        <e-columns>-->
<!--          <e-column [width]="130"></e-column>-->
<!--          <e-column [width]=100></e-column>-->
<!--          <e-column [width]=100></e-column>-->
<!--          <e-column [width]=100></e-column>-->
<!--        </e-columns>-->
<!--      </e-sheet>-->
<!--    </e-sheets>-->
  </ejs-spreadsheet>
</div>
